﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


    .resp-text {
        margin-left: 10%;
        margin-top: 20px;
    }

    .send-btn {
        margin-left: calc(70% - 70px);
        width: 70px;
    }

    .message-form > div {
        margin-top: 10px;
    }

    .form-group input,
    .form-group textarea {
        width: 70%;
        border-radius: 5px;
        border: 1px solid lightgray;
        font-size: 20px;
        color: gray;
        min-width: 70%;
    }

    .form-group label {
        display: block;
    }

    .message-form {
        width: 70%;
        margin-top: 10%;
        margin-left: 10%;
    }