﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Messenger";
}

<div class="row">
    <div class="col-md-12">
        <div class="message-form">
            <div class="form-group">
                <label>Service url</label>
                <input type="text" class="service-url" />
            </div>
            <div class="form-group">
                <label>Recipients</label>
                <input class="magicsearch" id="recipients">
            </div>
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="subject" />
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="message-text"></textarea>
            </div>
            <div>
                <button class="send-btn btn btn-primary">Send</button>
            </div>
        </div>
    </div>
    <div>
        <label class="resp-text"></label>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.magicsearch.min.js"></script>
    <script src="~/Scripts/messenger.js"></script>
}
